<div class="title">
请登陆
</div>

<div class="list_view">
  <% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <table>
      <tbody>
        <tr>
          <td class="label"><%= label_tag :serial_number, '编号' %></td>
          <td><%= text_field_tag :serial_number, params[:serial_number] %></td>
        </tr>
        <tr>
          <td class="label"><%= label_tag :password, '密码' %></td>
          <td><%= password_field_tag :password, params[:password] %></td>
        </tr>
      </tbody>
    </table>

    <div>
      <%= submit_tag '登陆' %>
    </div>
  <% end %>
</div>
