<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @employee.account_id.nil? %>
    <div>
      帐户<br>
      <%= sprintf('%5d', @employee.account_id) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, '名称' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
