<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <%= link_to '新建员工信息', new_employee_path %>
  <%= render partial: 'shared/page_nav', locals: { index: @index, page_num: @page_num, path: employees_path } %>
  <table>
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>人数</th>
        <th>部门</th>
        <th colspan="3" class="action">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <% if employee.state == State::STATE_SHADOW %>
          <tr class="shadow">
        <% else %>
          <tr>
        <% end %>
          <td><%= employee.serial_number %></td>
          <td><%= employee.name %></td>
          <td><%= employee.colleague_number %></td>
          <td><%= employee.department.name %></td>
          <td class="action"><%= link_to '查看', employee %></td>
          <% if employee.state == State::STATE_SHADOW %>
            <td class="action"></td>
          <% else %>
            <td class="action"><%= link_to '编辑', edit_employee_path(employee) %></td>
          <% end %>
          <td class="action"><%= link_to '删除', employee, method: :delete, data: { confirm: "你确定删除员工帐户吗？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render partial: 'shared/page_nav', locals: { index: @index, page_num: @page_num, path: employees_path } %>
</div>