<p id="notice"><%= notice %></p>

<p>
  <strong>编号:</strong>
  <%= '%5d' % @employee.serial_number %>
</p>

<p>
  <strong>名称:</strong>
  <%= @employee.name %>
</p>

<%= link_to '编辑', edit_employee_path(@employee) %> |
<%= link_to '返回', employees_path %>
