<div class="table_view">
  <table>
    <thead>
    <th>编号</th>
    <th>名称</th>
    <th>部门</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @employee.serial_number %></td>
      <td><%= @employee.name %></td>
      <td><%= @employee.department.name %></td>
    </tr>
    </tbody>
  </table>

  <%= link_to '编辑', edit_employee_path(@employee) %> |
  <%= link_to '返回', employees_path %>
</div>