<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @user.account_id.nil? %>
    <div>
      帐户<br>
      <%= '%5d' % @user.account_id %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, '名称' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password, '密码' %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, '确认密码' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :permission, '类型' %><br>
    <%= f.select :permission, select_options_for_permission %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
