<div class="table_view">
  <table>
    <thead>
    <th>编号</th>
    <th>名称</th>
    <th>类型</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @user.serial_number %></td>
      <td><%= @user.name %></td>
      <td><%= User::PERMISSION_TYPES[@user.permission] %></td>
    </tr>
    </tbody>
  </table>

  <%= link_to '编辑', edit_user_path(@user) %> |
  <%= link_to '返回', users_path %>
</div>