<p id="notice"><%= notice %></p>

<p>
  <strong>帐户:</strong>
  <%= '%5d' % @user.account_id %>
</p>

<p>
  <strong>名称:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>类型:</strong>
  <%= @user.account_type %>
</p>

<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>
