<div class="table_view">
  <table>
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th colspan="3" class="action"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.serial_number %></td>
          <td><%= client.name %></td>
          <td class="action"><%= link_to '查看', client %></td>
          <td class="action"><%= link_to '编辑', edit_client_path(client) %></td>
          <td class="action"><%= link_to '删除', client, method: :delete, data: { confirm: "你确定删除客户帐户\"#{client.serial_number}\"吗？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '新建客户信息', new_client_path %>
</div>