<h1>客户列表</h1>

<table>
  <thead>
    <tr>
      <th>账户</th>
      <th>名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.account_id %></td>
        <td><%= client.name %></td>
        <td><%= link_to '查看', client %></td>
        <td><%= link_to '编辑', edit_client_path(client) %></td>
        <td><%= link_to '删除', client, method: :delete, data: { confirm: "你确定删除客户帐户\"#{client.account_id}\"吗？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建客户信息', new_client_path %>
