<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <table>
    <thead>
    <th>编号</th>
    <th>名称</th>
    </thead>
    <tbody>
    <% if @client.state == State::STATE_SHADOW %>
      <tr class="shadow">
    <% else %>
      <tr>
    <% end %>
      <td><%= @client.serial_number %></td>
      <td><%= @client.name %></td>
    </tr>
    </tbody>
  </table>
  <% if is_admin_permission? session[:permission] && @client.state != State::STATE_SHADOW %>
    <%= link_to '编辑', edit_client_path(@client) %> |
  <% end %>
  <%= link_to '返回', clients_path(page: @page) %>
</div>