<div class="list_view">
  <%= form_for(@record) do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <ul>
          <% @record.errors.each do |_, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= hidden_field_tag :type, @type %>
    
    <table>
      <tbody>
        <tr>
          <td class="label"><%= f.label :participant_text, '交收人' %></td>
          <td class="autocomplete">
            <%= f.text_field :participant_text %>
            <div class="data" style="display: none;"><%= participant_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :product_text, '摘要' %></td>
          <td class="autocomplete">
            <%= f.text_field :product_text %>
            <div class="data" style="display: none;"><%= product_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :weight, '重量' %></td>
          <td><%= f.text_field :weight %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :date_text, '日期' %></td>
          <td class="date_picker"><%= f.text_field :date_text %></td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
</div>
