<div class="list_view">
  <%= form_for(@record) do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <ul>
          <% @record.errors.each do |_, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.hidden_field :user_id%>
    
    <table>
      <tbody>
        <tr id="type_select">
          <td class="label"><%= f.label :record_type, '类型' %></td>
          <td><%= f.select :record_type, record_type_options %></td>
        </tr>
        <tr id='participant'>
          <td class="label"><%= f.label :participant_text, '交收人' %></td>
          <td class="autocomplete">
            <%= f.text_field :participant_text %>
            <div class="data" style="display: none;"><%= participant_texts %></div>
          </td>
        </tr>
        <tr id="product">
          <td class="label"><%= f.label :product_text, '摘要' %></td>
          <td class="autocomplete">
            <%= f.text_field :product_text %>
            <div class="data" style="display: none;"><%= product_texts %></div>
          </td>
        </tr>
        <tr id="weight">
          <td class="label"><%= f.label :weight, '重量' %></td>
          <td><%= f.text_field :weight %></td>
          <td class="gram"></td>
        </tr>
        <tr id="count">
          <td class="label"><%= f.label :count, '件数' %></td>
          <td><%= f.text_field :count %></td>
        </tr>
        <tr id="order_number">
          <td class="label"><%= f.label :order_number, '单号' %></td>
          <td><%= f.text_field :order_number %></td>
          <td><button type='button' id='create_order_number'>生成单号</button></td>
        </tr>
        <tr id="client">
          <td class="label"><%= f.label :client_text, '客户' %></td>
          <td class="autocomplete">
            <%= f.text_field :client_text %>
            <div class="data" style="display: none;"><%= client_texts %></div>
          </td>
        </tr>
        <tr id="employee">
          <td class="label"><%= f.label :employee_text, '生产人' %></td>
          <td class="autocomplete">
            <%= f.text_field :employee_text %>
            <div class="data" style="display: none;"><%= employee_texts %></div>
          </td>
        </tr>
        <tr id="date">
          <td class="label"><%= f.label :date_text, '日期' %></td>
          <td class="date_picker"><%= f.text_field :date_text %></td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
</div>
