<div class="list_view">
  <%= form_for(@record) do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <ul>
          <% @record.errors.each do |_, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tbody>
        <tr>
          <td class="label"><%= f.label :date_text, '日期' %></td>
          <td class="date_picker"><%= f.text_field :date_text %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :type_text, '类型' %></td>
          <td class="autocomplete">
            <%= f.text_field :type_text %>
            <div class="data" style="display: none;"><%= type_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :origin_text, '原料' %></td>
          <td><%= f.text_field :origin_text %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :product_text, '成品' %></td>
          <td class="autocomplete">
            <%= f.text_field :product_text %>
            <div class="data" style="display: none;"><%= product_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :weight, '重量' %></td>
          <td><%= f.text_field :weight %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :count, '数量' %></td>
          <td><%= f.text_field :count %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :user_text, '柜台' %> </td>
          <td class="autocomplete">
            <%= f.text_field :user_text %>
            <div class="data" style="display: none;"><%= user_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :participant_text, '收发者' %></td>
          <td class="autocomplete">
            <%= f.text_field :participant_text %>
            <div class="data" style="display: none;"><%= participant_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :order_number, '单号' %></td>
          <td><%= f.text_field :order_number %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :employee_text, '生产者' %></td>
          <td class="autocomplete">
            <%= f.text_field :employee_text %>
            <div class="data" style="display: none;"><%= employee_texts %></div>
          </td>
        </tr>
        <tr>
          <td class="label"><%= f.label :client_text, '客户' %></td>
          <td class="autocomplete">
            <%= f.text_field :client_text %>
            <div class="data" style="display: none;"><%= client_texts %></div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
</div>
