<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<% unless @is_admin %>
  <div class="button_group">
    <%= link_to '新建记录', new_record_path, class: 'button' %>
    <%= link_to '打印记录', records_print_path, class: 'button', id: 'print_records' %>
  </div>
<%else%>
  <div class="button_group">
    <%= link_to '打印记录', records_print_path, class: 'button', id: 'print_records' %>
  </div>
<% end %>

<div class="table_view">
  <%= render partial: 'shared/page_nav', locals: { index: @index, page_num: @page_num, path: records_path } %>
  <%= render 'table'%>
  <%= render partial: 'shared/page_nav', locals: { index: @index, page_num: @page_num, path: records_path } %>
</div>
