<div class="table_view">
  <table>
    <thead>
    <tr>
      <th>日期</th>
      <th>类型</th>
      <th>摘要</th>
      <th>重量</th>
      <th>件数</th>
      <th>柜台</th>
      <th>交收人</th>
      <th>单号</th>
      <th>生产者</th>
      <th>客户</th>
      <th>创建时间</th>
      <th>最近修改时间</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @record.date_text %></td>
        <td><%= Record::RECORD_TYPES[@record.record_type] %></td>
        <td><%= @record.product.try(:name) %></td>
        <td><%= data_with_precision(@record.weight) %></td>
        <td><%= @record.count %></td>
        <td><%= @record.user.name %></td>
        <td><%= @record.participant.name %></td>
        <td><%= @record.order_number %></td>
        <td><%= @record.employee.try(:name) %></td>
        <td><%= @record.client.try(:name) %></td>
        <td><%= @record.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td><%= @record.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to '编辑', edit_record_path(@record) %> |
  <%= link_to '返回', records_path(page: @page) %>
</div>
