<div class="list_view">
  <%= form_for(@contractor) do |f| %>
    <% if @contractor.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <ul>
        <% @contractor.errors.each do |_, message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tbody>
      <% if @contractor.id.present? %>
        <tr>
          <td class="label">编码</td>
          <td><%= @contractor.serial_number %></td>
        </tr>
      <% end %>
      <tr>
        <td class="label"><%= f.label :name, '名称' %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
</div>