<%= form_for(@contractor) do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @contractor.serial_number.nil? %>
    <div>
      编号<br>
      <%= sprintf('%5d', @contractor.serial_number) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, '名称' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
