<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <% if is_admin_permission? session[:permission] %>
    <%= link_to '新建代工客户', new_contractor_path %>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th colspan="3" class="action">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @contractors.each do |contractor| %>
        <% if contractor.state == State::STATE_SHADOW %>
          <tr class="shadow">
        <% else %>
          <tr>
        <% end %>
          <td><%= contractor.serial_number %></td>
          <td><%= contractor.name %></td>
          <td class="action"><%= link_to '查看', contractor %></td>
          <% if is_admin_permission? session[:permission] %>
            <% if contractor.state == State::STATE_SHADOW %>
              <td class="action"></td>
            <% else %>
              <td class="action"><%= link_to '编辑', edit_contractor_path(contractor) %></td>
            <% end  %>
            <td class="action"><%= link_to '删除', contractor, method: :delete, data: { confirm: '你确定删除代工客户吗？' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render partial: 'shared/page', locals: { prev_page: @prev_page, next_page: @next_page, path: contractors_path } %>
</div>
