<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <table>
    <thead>
    <th>编号</th>
    <th>名称</th>
    </thead>
    <tbody>
    <% if @contractor.state == State::STATE_SHADOW %>
    <tr class="shadow">
    <% else %>
    <tr>
    <% end %>
      <td><%= @contractor.serial_number %></td>
      <td><%= @contractor.name %></td>
    </tr>
    </tbody>
  </table>
  <% unless @contractor.state == State::STATE_SHADOW %>
    <%= link_to '编辑', edit_contractor_path(@contractor) %> |
  <% end %>
  <%= link_to '返回', contractors_path %>
</div>