<div class="list_view">
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <ul>
          <% @product.errors.each do |_, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      </div>
    <% end %>

    <table>
      <tbody>
        <% if @product.id.present? %>
          <tr>
            <td class="label">编码</td>
            <td><%= @product.serial_number %></td>
          </tr>
        <% end %>
        <tr>
          <td class="label"><%= f.label :name, '名称' %></td>
          <td><%= f.text_field :name %></td>
        </tr>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
</div>