<h1>产品列表</h1>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to '查看', product %></td>
        <td><%= link_to '编辑', edit_product_path(product) %></td>
        <td><%= link_to '删除', product, method: :delete, data: { confirm: "你确定删除\"#{product.name}\"" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建', new_product_path %>
