<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <%= link_to '新建产品', new_product_path %>
  
  <table>
    <thead>
      <th>编号</th>
      <th>名称</th>
      <th colspan="3" class="action">操作</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <% if product.state == State::STATE_SHADOW %>
          <tr class="shadow">
        <% else %>
          <tr>
        <% end %>
          <td><%= product.serial_number %></td>
          <td><%= product.name %></td>
          <td class="action"><%= link_to '查看', product %></td>
          <% if product.state == State::STATE_SHADOW %>
            <td class="action"></td>
          <% else %>
            <td class="action"><%= link_to '编辑', edit_product_path(product) %></td>
          <% end %>
          <td class="action"><%= link_to '删除', product, method: :delete, data: { confirm: "你确定删除产品吗？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render partial: 'shared/page', locals: { prev_page: @prev_page, next_page: @next_page, path: products_path } %>
</div>