<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="table_view">
  <table>
    <thead>
      <th>编号</th>
      <th>名称</th>
    </thead>
    <tbody>
      <% if @product.state == State::STATE_SHADOW %>
      <tr class="shadow">
      <% else %>
      <tr>
      <% end %>
        <td><%= @product.serial_number %></td>
        <td><%= @product.name %></td>
      </tr>
    </tbody>
  </table>
  <% if is_admin_permission? session[:permission] && @product.state != State::STATE_SHADOW %>
    <%= link_to '编辑', edit_product_path(@product) %> |
  <% end %>
  <%= link_to '返回', products_path(page: @page) %>
</div>