<div class="report">
  <table>
    <thead>
    <tr class="title">
      <th colspan="10">客户往来台帐（明细）</th>
    </tr>
    <tr>
      <th>客户</th>
      <th><%= @client==nil ? '' :@client.name %></th>
      <th colspan="4">日期：<%= @from_date.strftime("%Y-%m-%d") %> 至 <%= @to_date.strftime("%Y-%m-%d") %></th>
      <th colspan="4"></th>
    </tr>
    <tr>
      <th>日期</th>
      <th>柜台</th>
      <th>摘要</th>
      <th>上期余额</th>
      <th>交与</th>
      <th>收回</th>
      <th>退货</th>
      <th>称差</th>
      <th>余额</th>
      <th>盘点值</th>
    </tr>
    </thead>
    <tbody>
    <% @report.each do |report| %>
        <% if report[:type] %>
            <tr class="<%= report[:type] %>">
        <% else %>
            <tr>
        <% end %>
        <td><%= report[:date] ? report[:date].strftime("%Y-%m-%d") : '' %></td>
        <td><%= report[:name] %></td>
        <td><%= report[:product_name] %></td>
        <td><%= report[:last_balance] %></td>
        <td><%= report[:dispatch_value] %></td>
        <td><%= report[:receive_value] %></td>
        <td><%= report[:return_value] %></td>
        <td><%= report[:difference] %></td>
        <td><%= report[:balance] %></td>
        <td><%= report[:check_value] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
