<div class="report">
  <table>
    <thead>
    <tr class="title">
      <th colspan= "<%= @contractors.size + 3 %>" >外工厂往来台帐（汇总）</th>
    </tr>
    <tr>
      <th colspan= "<%= @contractors.size + 3 %>" >日期：<%= @from_date.strftime("%Y-%m-%d") %> 至 <%= @to_date.strftime("%Y-%m-%d") %></th>
    </tr>
    <tr>
      <th></th>
      <th>外工厂</th>
      <% @contractors.each do |contractor| %>
          <th><%= contractor.name %></th>
      <% end %>
      <th>合计</th>
    </tr>
    </thead>
    <tbody>
    <% @report.each do |report| %>
        <% if report[:type] %>
            <tr class="<%= report[:type] %>">
        <% else %>
            <tr>
        <% end %>
        <% report[:values].each do |value| %>
            <td><%= data_with_precision(value) %></td>
        <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
