<div class="report">
  <table>
    <thead>
    <tr class="title">
      <th colspan= "<%= @contractors.size + 3 %>" >外工厂往来台帐（汇总）</th>
    </tr>
    <tr>
      <th colspan= "<%= @contractors.size + 3 %>" >日期：<%= @from_date.strftime("%Y-%m-%d") %> 至 <%= @to_date.strftime("%Y-%m-%d") %></th>
    </tr>
    <tr>
      <th></th>
      <th>外工厂</th>
      <% @contractors.each do |contractor| %>
          <th><%= contractor.name %></th>
      <% end %>
      <th>合计</th>
    </tr>
    </thead>
    <tbody>
    <% @report.each do |report| %>
        <% if report[:type] %>
            <tr class="<%= report[:type] %>">
        <% else %>
            <tr>
        <% end %>
        <% if report[:last_balance] %>
            <% report[:last_balance].each do |value| %>
                <td><%= value %></td>
            <% end %>
            </tr>
        <% end%>
        <% if report[:balance] %>
            <% report[:balance].each do |value| %>
                <td><%= value %></td>
            <% end %>
            </tr>
        <% end%>
        <% if report[:real_balance] %>
            <% report[:real_balance].each do |value| %>
                <td><%= value %></td>
            <% end %>
            </tr>
        <% end%>
        <% if report[:weight_diff] %>
            <% report[:weight_diff].each do |value| %>
                <td><%= value %></td>
            <% end %>
            </tr>
        <% end%>
        <% if report[:type] %>
            <tr>
              <% if report[:receive] %>
                  <% report[:receive].each do |receive| %>
                      <td><%= receive %></td>
                  <% end %>
                  </tr>
              <% end %>
              <tr>
                <% if report[:dispatch] %>
                    <% report[:dispatch].each do |dispatch| %>
                        <td><%= dispatch %></td>
                    <% end %>
                <% end %>
              </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
