<div class="report">
  <table>
    <thead>
      <tr class="title">
        <th colspan="<%= @column * 2 + 4 %>">各组损耗明细汇总表</th>
      </tr>
      <tr>
        <th colspan="<%= @column * 2 + 4 %>">日期：<%= @from_date.strftime '%Y-%m-%d' %>至<%= @to_date.strftime '%Y-%m-%d' %></th>
      </tr>
      <tr>
        <th rowspan="2">生产组长</th>
        <% (@from_date..@to_date).each do |date| %>
          <th colspan="2"><%= date.strftime '%Y-%m-%d' %></th>
        <% end %>
        <th colspan="2">合计</th>
        <th rowspan="2">合计</th>
      </tr>
      <tr>
        <% @column.times do %>
          <th>地沙/损耗</th>
          <th>打磨扣欠金</th>
        <% end %>
        <th>地沙/损耗</th>
        <th>打磨扣欠金</th>
      </tr>
    </thead>
    <tbody>
      <% @report.each do |report| %>
        <tr>
          <td><%= report[:name] %></td>
          <% report[:values][0...-1].each do |value| %>
            <td><%= data_with_precision(value[:depletion]) %></td>
            <td><%= data_with_precision(value[:polish_depletion]) %></td>
          <% end %>
          <td><%= data_with_precision(report[:values][-1]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>