<div id="filter_fields">
  <%= form_tag path, method: :get, remote: true, class: 'date_and_user' do %>
    <%= label_tag :date, '日期:' %>
    <%= text_field_tag :date, @date, class: 'date_picker' %>
    <%= label_tag :user_id, '柜台:' %>
    <%= select_tag :user_id, options_for_select(user_options, @user.id) %>
    <%= submit_tag '确定'%>
    <%= submit_tag '下载excel表格', class: 'xlsx'%>
  <% end %>
</div>