<div id="filter_fields">
  <%= form_tag path, method: :get, remote: true do %>
    <%= label_tag :date, '日期:' %>
    <%= text_field_tag :from_date, @from_date %>
    <span>至</span>
    <%= text_field_tag :to_date, @to_date %>
    <%= label_tag :client_id, '客户:' %>
    <%= select_tag :client_id, options_for_select(client_options, @client.try(:id)) %>
    <%= submit_tag '确定'%>
  <% end %>
</div>