<div class="report">
  <table>
    <thead>
      <tr class="title">
        <th colspan="9">打磨统计表(单号)</th>
      </tr>
      <tr>
        <th colspan="9">日期：<%= @from_date.strftime("%Y-%m-%d") %> 至 <%= @to_date.strftime("%Y-%m-%d") %></th>
      </tr>
    </thead>
    <tbody>
    <% @report.each do |report| %>
        <% if report[:type] %>
            <tr class="<%= report[:type] %>">
        <% else %>
            <tr>
        <% end %>
        <td><%=report[:date] %></td>
        <td><%= report[:order_number] %></td>
        <td><%= report[:product_name] %></td>
        <td><%= data_with_precision(report[:dis_weight]) %></td>
        <td><%= data_with_precision(report[:rev_weight]) %></td>
        <td><%= data_with_precision(report[:depletion]) %></td>
        <td><%= report[:count] %></td>
        <td><%= report[:participant] %></td>
        <td><%= report[:employee_name] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
