<div class="report">
  <table>
    <thead>
      <tr class="title">
        <th colspan="9">收发日报表（明细）</th>
      </tr>
      <tr>
        <th>柜台</th>
        <th><%= @user.name %></th>
        <th colspan="3">日期：<%= @date.strftime("%Y-%m-%d") %></th>
        <th colspan="4"></th>
      </tr>
      <tr>
        <th>客户名</th>
        <th>摘要</th>
        <th>上期余额</th>
        <th>交与数量</th>
        <th>收回数量</th>
        <th>余额</th>
        <th>盘点值</th>
        <th>损耗/地沙</th>
        <th>称差</th>
      </tr>
    </thead>
    <tbody>
      <% @report.each do |report| %>
        <% if report[:type] %>
        <tr class="<%= report[:type] %>">
        <% else %>
        <tr>
        <% end %>
          <td><%= report[:name] %></td>
          <td><%= report[:product_name] %></td>
          <td><%= report[:last_balance] %></td>
          <td><%= report[:dispatch_value] %></td>
          <td><%= report[:receive_value] %></td>
          <td><%= report[:balance] %></td>
          <td><%= report[:actual_balance] %></td>
          <td><%= report[:depletion] %></td>
          <td><%= report[:difference] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>