<!DOCTYPE html>
<html>
<head>
  <title>ERP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag controller.controller_name, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="top_nav">
    <div id="top_nav_intern">
      <ul>
        <% if session[:user_id] %>
          <% if (2..3) === session[:permission] %>
            <li><%= link_to '录入', records_path %></li>
          <% end %>
          <li><%= link_to '报表', reports_day_detail_path %></li>
          <li><%= link_to '管理', user_path(session[:user_id]) %></li>
          <% if session[:user_id] %>
            <li><%= link_to '退出', logout_path, method: :delete %></li>
          <% end %>
        <% end %>
      </ul>
      <% if session[:user_id] and session[:permission] > 1 %>
        <span id="balance"></span>
      <% end %>
  </div>
  </div>

  <% unless @no_side_bar or session[:user_id].nil? %>
  <div id="sidebar">
    <ul>
      <% if controller.controller_name == 'reports' %>
        <li><%= link_to '日报表（明细）', reports_day_detail_path %></li>
        <li><%= link_to '日报表（汇总）', reports_day_summary_path %></li>
        <% if is_admin_permission? session[:permission] %>
          <li><%= link_to '损耗明细汇总表', reports_depletion_path %></li>
          <li><%= link_to '黄金分布表（明细）', reports_goods_distribution_detail_path %></li>
          <li><%= link_to '员工货物表（明细）', reports_goods_in_employees_path %></li>
          <li><%= link_to '各柜台称差明细汇总表', reports_weight_diff_path %></li>
          <li><%= link_to '生产统计表（生产组）', reports_production_by_employees_path %></li>
          <li><%= link_to '生产统计表（品种）', reports_production_by_type_path %></li>
          <li><%= link_to '生产统计汇总表', reports_production_summary_path %></li>
        <% end %>
      <% else %>
        <% if is_admin_permission? session[:permission] %>
          <li><%= link_to '产品', products_path  %></li>
          <li><%= link_to '部门', departments_path %></li>
          <li><%= link_to '用户', users_path %></li>
          <li><%= link_to '员工', employees_path %></li>
          <li><%= link_to '客户', clients_path %></li>
          <li><%= link_to '代工客户', contractors_path %></li>
          <li><%= link_to '记录', records_path %></li>
        <% else %>
          <li><%= link_to '我的帐户', user_path(session[:user_id]) %></li>
        <% end %>   
      <% end %>
    </ul>
  </div>
  <% end %>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
